.drive-info-table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  height: 100%;
  width: 100%;
}

.drive-info-table-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
}

.drive-info-table-section.right .drive-info-value {
  width: 30%;
}

.drive-info-table-section.right .drive-info-name {
  width: 70%;
}

.drive-info-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  width: 95%;
}

.drive-info-name {
  width: 30%;
}

.drive-info-value {
  width: 100%;

  padding: 4px;
  margin: 4px;

  border: 1px solid #ccc;

  user-select: all;
}